@tailwind base;
@tailwind components;
@tailwind utilities;



input,textarea,select{
  @apply border border-gray-300 rounded-sm py-1 px-3 w-full mb-2;

}
input:focus,textarea:focus, select:focus{
  @apply border-blue-900;
}

label{
  @apply text-gray-600 text-sm;
}

h1{
  @apply text-gray-800 mb-2 text-xl;
}

.btn-primary{
  @apply bg-primary text-white px-4 py-1 rounded-sm shadow-md;
}

.btn-default ,.btn-red{
  @apply px-4 py-1 rounded-sm shadow-md;
}
.btn-red{
  @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm;
}
.btn-default{
  @apply bg-white text-gray-800 border border-gray-200 shadow-sm
}


table.basic{
  @apply w-full bg-white rounded-sm 
}
table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2
}

table.basic tr td{
  @apply px-4
}

table.basic a{
  @apply text-sm rounded-md py-1 px-2 mx-1 inline-flex gap-1
}

img{
  max-height: 100%;
}











/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
